/*  your css code here. If applicable */
#animal-photos{
	height: auto;
	width:auto;
	background:#5A5A5A;
	border-radius: 10px;
}

#photo-heading{
	color: white;
	text-align: center;
}

#animal-photos img{
	height: 180px;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
}
